@import '../colors.scss';

.input-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .input-text {
    width: 250px;
    height: 41px;
    padding: 15px;
    background-color: inherit;
    border: 1px solid $border;
    color: $text;
    font-size: 18px;
  }
}

.error {
  background-color: $alert-bg;
  padding: 5px;
  border-radius: 5px;
  width: max-content;
  color: $main-bg;
  margin: 5px 0;
}
